[Unit]
Description=TiddlyWiki: interactive wiki
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment=PATH=__ENV_PATH__
Environment=NODE_ENV=production
ExecStart=__YNH_NODE__ mynewwiki --listen port=__PORT__ #authenticated-user-header=basic
Restart=always

[Install]
WantedBy=multi-user.target


