[Unit]
Description=TiddlyWiki: interactive wiki
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="NODE_ENV=production"
Environment="__YNH_NODE_LOAD_PATH__"
ExecStart=__YNH_NODE_LOAD_PATH__ __FINALPATH__/tiddlywiki mynewwiki --listen #port=__PORT__ authenticated-user-header=basic
Restart=always

[Install]
WantedBy=multi-user.target
